---
- hosts: all
  user: ubuntu
  #sudo: yes

  gather_facts: false
  become: true
  tasks:

   - name: install python 2
     raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)

   - name: Add owncloud repository
     command: sh -c "echo 'deb http://download.owncloud.org/download/repositories/stable/Ubuntu_16.04/ /' >> /etc/apt/sources.list.d/owncloud.list"

   - name: Add apt key
     apt_key: validate_certs=False url=https://download.owncloud.org/download/repositories/stable/Ubuntu_16.04/Release.key state=present

   - name: update packages cache
     apt: update_cache=yes cache_valid_time=3600

   - name: install packages
     apt: name={{ item.name }}
     with_items:
       - { name: 'git' }
       - { name: 'python' }
       - { name: 'sudo' }
       - { name: 'apache2' }
       - { name: 'mariadb-server' }
       - { name: 'owncloud' }
       - { name: 'npm' }
       - { name: 'nodejs-legacy' }
       - { name: 'php-zip' }
       - { name: 'php-mbstring' }
       - { name: 'php-mysql' }
       - { name: 'php-common' }
       - { name: 'php-gd' }
       - { name: 'php-intl' }
       - { name: 'php-mcrypt' }
       - { name: 'php-xml' }
       - { name: 'php-curl' }
       - { name: 'php-json' }
       - { name: 'php-ldap' }
       - { name: 'php-soap' }
       - { name: 'wget' }
       - { name: 'rsync' }
       - { name: 'unzip' }
       - { name: 'php-xdebug' }
       - { name: 'netcat' }
       - { name: 'php-dev' }
       - { name: 'php-igbinary' }
       - { name: 'phpunit' }
       - { name: 'php-xml-parser' }
       - { name: 'zsh' }

    #redis-server php-redis smbclient

     notify:
      - restart apache

   - name: add script for installing current owncloud
     copy: src=install_master_owncloud.sh dest=/home/ubuntu/install_master_owncloud.sh owner=ubuntu group=ubuntu mode=0775

   - name: add script for rebooting the install of owncloud
     copy: src=reboot_owncloud_installation.sh dest=/home/ubuntu/reboot_owncloud_installation.sh owner=ubuntu group=www-data mode=0775

   - name: add script for removing default owncloud database
     copy: src=clean_database.py dest=/home/vagrant/clean_database.py owner=vagrant group=vagrant mode=0775
     
   - name: add script for creating swap space
     copy: src=create_swap.sh dest=/home/vagrant/create_swap.sh owner=vagrant group=vagrant mode=0775

   - user: name=ubuntu group=www-data

   - name: download composer
     command: sh -c "curl -sS https://getcomposer.org/installer | php"

   - name: install it
     command: sh -c "mv /home/ubuntu/composer.phar /usr/local/bin/composer"

   - name: Clone oh-my-zsh repo
     git: repo=https://github.com/robbyrussell/oh-my-zsh.git dest=/home/ubuntu/.oh-my-zsh

   - name: Create conf folder in home directory
     file: path=/home/ubuntu/conf/ state=directory owner=ubuntu

   - name: deploy .zshrc
     template: src=files/zshrc.in dest=/home/ubuntu/conf/zshrc owner=ubuntu

   - name: remove standard zshrc
     file: path=/home/ubuntu/.zshrc state=absent

   - name: symlink zshrc
     file: path=/home/ubuntu/.zshrc src=/home/ubuntu/conf/zshrc state=link owner=ubuntu

   - name: Set zsh as default shell
     user: name=ubuntu shell=/bin/zsh

   - name: Give www-data control of ubuntu home 1/2
     command: sh -c "chgrp www-data /home/ubuntu"

   - name: Give www-data control of ubuntu home 2/2
     command: sh -c "chmod g+s /home/ubuntu"
 
   - name: create swap file composer
     command: sh -c "/bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024"
   - name: create swap space
     command: sh -c "/sbin/mkswap /var/swap.1"
   - name: activate swap
     command: sh -c "/sbin/swapon /var/swap.1"

  handlers:
    - name: restart apache
      service: name=apache2 state=restarted
